/*Body styling*/

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #38383b;
  color: #ffffff;
  margin-right: 25px;
  margin-left: 25px;
}

/*Header syling*/

.header {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
}

.name {
   font-size: x-large;
   font-weight: light;
   margin-right: auto;
   margin-top: 0px;
}

.github-logo,.linkedin-logo {
    height: 35px;
    width: 35px;
}

.github-logo {
    margin-right: 25px;
}

/*Headshot + blurb syling*/

.headshot-and-blurb {
    display: flex;
    margin-bottom: 50px;
}

.photo {
    height: auto;
    width: 300px;
    margin-right: 100px;
}

.bio {
    font-size: x-large;
}

/*Skills and tools styling*/

.skills-and-tools-section {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
    background-color: #dfe0e1;
    color: #38383b;
    border: 5px solid #000000;
}

.skills {
    margin-bottom: 0px;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}

li {
    margin: 18px;
}

/*Experience styling*/

.experience {
    margin-bottom: 50px;
    font-size: large;
}

/*Portfolio styling*/

.portfolio {
    margin-bottom: 50px;
    font-size: large;
    background-color:#38383b
}

/*Footer styling*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
    font-size: large;
    font-weight: normal;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-logo {
    height: 55px;
    width: 55px;
}