* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header, .headshot-and-blurb, .skills-and-tools-section, .experience, .portfolio, .footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #38383b;
  color: #ffffff;
}

/*Header syling*/

.header {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
}

.name {
   font-size: x-large;
   font-weight: light;
   margin-right: auto;
   margin-top: 0px;
   padding-top: 9.75px;
}

.github-logo,.linkedin-logo {
    height: 35px;
    width: 35px;
}

.github-logo {
    margin-right: 25px;
}

/*Headshot + blurb syling*/

.headshot-and-blurb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.ph-school {
    padding-bottom: 30px;
}

.photo {
    height: auto;
    width: 300px;
    margin-right: 100px;
    padding-bottom: 30px;
}

.bio {
    font-size: x-large;
    height: 438px;
    width: 500px;
}

.paragraph-one {
    margin-bottom: 30px
}

/*Skills and tools styling*/

.skills-and-tools-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dfe0e1;
    color: #38383b;
    border-radius: 5px;
}

.s-box {
    border: 3px solid #38383b;
    border-radius: 5px;
    width: 330px;
    height: 230px;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
}


.skills {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    background-color: #38383b;
    color: #ffffff;
}

.s-box ul {
    padding-left: 25px;
}

/*Experience styling*/

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: large;
}

.experience h2 {
    margin-right: auto;
    margin-bottom: 30px;
    padding-right: 30px;
}

.experience ul {
    font-size: large;
    list-style-type: none;
    list-style-position: inside;
}

.experience ul li {
    margin-bottom: 30px;
}

/*Portfolio styling*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: large;
}

.portfolio h2 {
    margin-right: auto;
    margin-bottom: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
}

.portfolio-block {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 583px;
    align-items: flex-start;
}

.portfolio-box {
    width: 240px;
    height: 140px;
}

.portfolio p {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

.portfolio ul {
    font-size: large;
    list-style-position: inside;
    padding-left: 30px;
}

.portfolio ul li {
    margin-bottom: 30px;
}

/*Footer styling*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
    font-size: large;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-logo {
    height: 55px;
    width: 55px;
}

#email {
    padding-top: 14.75px;
}

footer {
    background-color: #000000;
}