/*Body styling*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #272725;
  color: #ffffff;
  margin-right: 25px;
  margin-left: 25px;
}

/*Header syling*/

.header {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 50px;
}

.name {
   font-size: xx-large;
   font-weight: light;
   margin-right: auto;
   margin-top: 0px;
}

.github-logo,.linkedin-logo {
    height: 55px;
    width: 55px;
}

.github-logo {
    margin-right: 25px;
}


/*Headshot + blurb syling*/

.headshot-and-blurb {
    display: flex;
    margin-bottom: 50px;
}

.photo {
    height: auto;
    width: 300px;
    margin-right: 100px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

.experience-header {
    margin-bottom: 0px;
}

#job-experience {
    margin-top: 0px;
}

#education-details {
    margin-top: 0px;
    margin-left: 40px;
}

/*Skills and tools styling*/

.skills-and-tools-section {
    display: flex;
    margin-bottom: 50px;
    margin-left: -25px;
    margin-right: -25px;
    justify-content: space-evenly;
    background-color: #ffffff;
    color: #272725;
    font-size: large;
}

/*Portfolio styling*/

.portfolio {
    display:flex;
    margin-bottom: 50px;
    flex-direction: column;
    font-size: large;
}

/*Footer styling*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #949189;
    font-size: large;
    font-weight: normal;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-logo {
    height: 55px;
    width: 55px;
}